
<div class="container">

    <div class="row">

        <div class="col-md-12 text-center">

            <button type="button" class="btn btn-primary" onclick="addAccordion()">Add New Accordion</button>

        </div>

    </div>

</div>

<br />

 
   <div class="accordion accordion-flush mx-auto" id="accordionFlush" style="max-width:900px;">
   </div>
  

     

@section Scripts
{
    <script src="/js/accordion.js"></script>

}